h1 {
	text-align: center;
	background-color: blue;
}
.header {
	color: white;
}
body {
	font-family: fantasy;
	background-image: url("../page_images/not2.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
.comments {
	margin-left: 5em;
}

.status_text {
	font-style: italic;
}
.status_time {
	font-size: .8em;
}