body {
	font-family: fantasy;
	color: blue;
	margin-left: 20em;
	background-image: url("../page_images/not2.png");
	background-repeat: no-repeat;
	background-position: 1em 5em;
	background-attachment: fixed;
}
.comments {
	margin-left: 5em;
}
.header {
	color: white;
	margin-left: -19em;
}
#links {
	float:left;
	position: fixed;
	top:25em;
}
h1 {
	top: 2em;
	margin-top:1em;
	text-align: center;
	background-color: blue;
	#position: fixed;
}
.status_text {
	font-style: italic;
}
.status_time {
	font-size: .8em;
	color: black;
}